body {
  width: 1024px;
  height: 600px;
}
.img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.bio {
  margin: 20px auto;
  width: 300px;
}

.bio::first-line {
  font-weight: bold;
}
