* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
nav {
  background-color: black;
  height: 60px;
  margin: auto;
  overflow: hidden;
  text-align: right;
  position: relative;
}
@media (max-width: 700px) {
  nav {
    text-align: center;
  }
}

a {
  text-decoration: none;
  line-height: 60px;
  color: white;
  padding: 40px;
  vertical-align: middle;
}
a:hover {
  background-color: purple;
}
/* Code for exercise 02-cards */

/* Code for exercise 03-table */

/* Code for exercise 04-form */
